# Python
*.pyc
*.pyo
*.pyd
__pycache__
.Python

# Django
db.sqlite3
/venv/
/static/
/media/
/local_settings.py

# PyCharm, VSCode, and other IDEs
.idea/
.vscode/
*.iml

# Virtual environment
/env/
/venv/

# Distribution / packaging
.coverage
.tox/
.nox/
.hypothesis/
.pytest_cache/
.mypy_cache/

# OS-specific files
.DS_Store
Thumbs.db
